#flash_messages {
  text-align: center;
  margin-top: 10px;
  height: 32px;
  margin-bottom: 20px;
}

.title {
  text-align: center;
}

.header {
  margin: 20px;
}

.error {
  background-color: red;
}

.notice {
  background-color: greenyellow;
}

.image {
  width: 30vw;
  min-width: 100px;
  padding: 10px;
}
